.page-footer {
  background-color: var(--second-section-color);
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 121 15px 60px 15px;
}

.footer-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-block-left {
  display: flex;
  flex-direction: column;
  .slogan-title {
    font-family: var(--font-secondary);
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &--made {
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--ice-cream {
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .slogan-title--one {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    color: var(--primary-header-color);
    margin-bottom: 15px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slogan-title--two {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
    gap: 17px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    .slogan-word {
      display: flex;

      &__letter {
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

.footer-block-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid--social-media {
  gap: 30px;
  justify-content: flex-end;
}

.media-link {
  &__box {
    width: 34px;
    height: 34px;
    background-color: #fea5bb;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--main-color-dark);
    }
  }
}

.copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #907e82;
  display: flex;
  justify-content: center;
  padding: 4px 0px;
  width: 150px;
}

.copyright-border {
  border-top: 1px solid #e1e1e1;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-contact {
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;

  &__link {
    color: var(--main-color-dark);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contact-container:hover .footer-contact__link,
.footer-contact__link:focus {
  transform: scale(1.2) translateX(12px);
}
@media screen and (min-width: 768px) {
  .slogan-word__letter:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer-container {
    padding: 40px 20px 40px 16px;
  }

  .footer-contact,
  .footer-contact__link {
    font-size: 14px;
    line-height: 186%;
  }

  .footer-block-left .slogan-title--one {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-block-left .slogan-title--two {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .footer-block-right {
    justify-content: center;
  }

  .copyright {
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 40px 20px;
  }

  .footer-blocks {
    flex-direction: column;
    gap: 40px;
  }

  .footer-contact,
  .footer-contact__link {
    font-size: 12px;
    line-height: 186%;
  }

  .footer-block-left .slogan-title--one {
    font-size: 18px;
    line-height: 21px;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-block-left .slogan-title--two {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .footer-block-right {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .footer-block-left:hover .slogan-title--ice-cream {
    transform: translate(55px);
  }
  .footer-block-left:hover .slogan-title--made {
    color: #d41443;
    transform: translate(-170px, 27px);
  }
}
