.hero-container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3vw;
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1280px;
  }
}

$bubble-count: 50;
$sway-type: 'sway-left-to-right', 'sway-right-to-left';

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: absolute;
  width: 100vw;
  height: 501px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 410px;
  }
  @media screen and (min-width: 1280px) {
    height: 664px;
  }
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 43%, 90%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Header section */
.header {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 29;
  }
  &__nav {
    display: none;
  }
  .button--nav {
    color: var(--accent-color);
    margin-left: auto;
    background-color: transparent;
    border: 0;
  }
  .nav--icon {
    display: block;
    fill: currentColor;
    width: 20px;
    height: 12px;
  }
  &__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    &__button {
      display: block;
      margin-left: 32px;
      border: none;
      border-radius: 22px;
      background-color: var(--button-white-color);
      color: var(--accent-color);
      font-size: 16px;
      padding: 12px 37.23px;
      font-weight: 700;
      display: flex;
      align-items: center;
      &__icon {
        width: 8px;
        height: 16px;
        margin-left: 12px;
      }
      &:hover,
      &:focus {
        transform: translateY(-5px);
        background-color: var(--hover-color);
        transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .button--nav {
    display: none;
  }

  .header__nav {
    display: flex;
    gap: 35px;
    position: relative;

    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: var(--button-white-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
        transform: translateY(-5px);
        transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

/* Hero section */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero {
  background: linear-gradient(126deg, #ffb8ca, #9f465b, #f6a7bb, #af6678);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 502px;
  position: relative;
  overflow: hidden;
  &__circle {
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: var(--header-circle-color);
    position: absolute;
    bottom: 75px;
    right: -60px;
    z-index: 2;
  }
  &__photo {
    width: 171px;
    height: 410px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 35px;
    background-image: url('../images/hero-header/hero__icecream.png');
  }
  &__inner {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;
    &__list {
      display: flex;
      gap: 8px;
      margin-top: 5px;
    }
  }
  .hero__inner--left {
    z-index: 4;
  }
  .hero__inner--right {
    z-index: 4;
  }
  &__inner--left--div {
    display: none;
  }
  &__inner--right {
    display: none;
  }
  &__title {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    z-index: 9999;
    max-width: 218px;
  }
  &__title--span {
    color: var(--accent-color);
    font-size: 48px;
  }
}

.hero__inner {
  .button--red {
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--button-white-color);
    z-index: 999;
    border: none;
    border-radius: 20px;
    font-size: 8px;
    line-height: 1.25;
    padding: 8px 16px;
    &:hover,
    &:focus {
      transform: translateY(-5px);
      transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
    & > a {
      text-decoration: none;
      color: var(--button-white-color);
    }
  }
  .button--white {
    margin-top: 20px;
    background-color: var(--button-white-color);
    color: var(--accent-color);
    z-index: 999;
    border: none;
    border-radius: 20px;
    font-size: 8px;
    line-height: 1.25;
    padding: 8px 16px;
    &:hover,
    &:focus {
      background-color: var(--hover-color);
      transform: translateY(-5px);
      transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
    .anchor-btn {
      display: block;
    }
  }
}

.hero__about {
  height: 350px;

  .hero__circle {
    width: 250px;
    height: 250px;
    bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero__about {
    height: 350;
    .hero__inner {
      height: 150px;
    }
    .hero__circle {
      width: 250px;
      height: 250px;
      bottom: 0px;
      right: 250px;
    }
    .hero__title {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .hero__inner--left--img {
      position: absolute;
      left: 100px;
      bottom: -50px;
    }
  }

  .hero {
    height: 410px;
    &__inner {
      flex-direction: row;
      justify-content: space-between;
      height: 310px;
      margin-top: 20px;
      position: relative;
      .button--red {
        margin-top: 0px;
      }
      .button--white {
        margin-top: 0px;
      }
      .anchor-btn {
        display: block;
        margin-top: 4px;
      }
    }
    &__circle {
      width: 335px;
      height: 333px;
      bottom: 40px;
      right: 185px;
    }
    &__photo {
      width: 143px;
      height: 336px;
      bottom: 0;
      right: 303px;
      background-image: url('../images/hero-header/ice-cream336.png');
    }
    &__inner--left {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__title {
      font-size: 22px;
      max-width: 162px;
    }
    &__title--span {
      font-size: 32px;
    }
  }

  /* Hero inner left */
  .hero__inner--left--div {
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .hero__inner--text {
      color: var(--button-white-color);
      font-size: 8px;
      line-height: 1.5;
      max-width: 114px;
    }
    .hero__inner--icon {
      width: 10px;
      height: 10px;
    }
    .hero__inner--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: var(--button-white-color);
      &:hover {
        transform: rotate(90deg) scale(1.2);
        transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .hero__inner--left--img {
      width: 152px;
      height: 154px;
      background-image: url('../images/hero-header/milk.png');
      background-repeat: no-repeat;
    }
  }
  // Hero inner right
  .hero__inner--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }
  .hero__inner--right--div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .hero__inner--number {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    z-index: 2;
  }
  .hero__inner--fresh {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--button-white-color);
  }
  .hero__circle--small {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--button-white-color);
    position: absolute;
    top: -4px;
    right: -4px;
    z-index: -1;
  }
  .hero__right--image {
    width: 190px;
    height: 150px;
    background-image: url('../images/hero-header/lick190.png');
    margin-top: auto;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 664px;
    &__title {
      margin-top: 60px;
      max-width: 277px;
      font-size: 38px;
      line-height: 1.15;
    }
    &__title--span {
      font-size: 48px;
    }
    &__inner {
      height: calc(100% - 100px);
    }
    &__circle {
      width: 534px;
      height: 534px;
      bottom: 77px;
      right: 165px;
    }
    &__photo {
      width: 236px;
      height: 557px;
      bottom: -5px;
      right: 368px;
      background-image: url('../images/hero-header/icecream236.png');
    }
  }
  .hero__inner {
    .button--red,
    .button--white {
      font-size: 16px;
      line-height: 1.31;
      padding: 11px 24px;
    }
    .anchor-btn {
      display: block;
    }
  }
  .hero__inner--left--div {
    div {
      gap: 20px;
    }
    .hero__inner--text {
      font-size: 14px;
      line-height: 1.4;
      max-width: 200px;
    }
    .hero__inner--left--img {
      width: 213px;
      height: 216px;
      background-image: url('../images/hero-header/milk213.png');
      background-repeat: no-repeat;
    }
    .hero__inner--link {
      width: 26px;
      height: 26px;
    }
    .hero__inner--icon {
      width: 16px;
      height: 16px;
    }
  }

  .hero__inner--right {
    margin-top: 72px;
    gap: 18px;
  }
  .hero__inner--right--div {
    position: relative;
  }
  .hero__inner--number {
    font-size: 46px;
    line-height: 1.14;
    z-index: 2;
  }
  .hero__inner--fresh {
    font-size: 14px;
    line-height: 1.25;
  }
  .hero__circle--small {
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
  }
  .hero__right--image {
    width: 304px;
    height: 241px;
    background-image: url('../images/hero-header/lick304.png');
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .hide--button {
    display: none;
  }
}

/*Mobile menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: var(--background-mobile-menu);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 254px;
    height: 100vh;
    top: 0;
    right: 0;
    left: auto;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--button-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  &:hover {
    color: var(--accent-color);
  }
}

.close-menu {
  background: transparent;
  box-shadow: none;
  position: absolute;
  right: 5px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  color: var(--button-white-color);
  margin-bottom: 0px;
}

.close-menu > svg {
  fill: currentColor;
}

.modal__button {
  color: var(--accent-color);
  background-color: #fff;
  font-size: 16px;
  line-height: 1.3;
  border: none;
  outline: none;
  border-radius: 22px;
  padding: 8px 68px;
  margin-bottom: 32px;
  margin-top: 26px;
  max-width: 230px;
  align-self: center;
  &:hover {
    transform: translateY(-15px);
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__button__icon {
  width: 8px;
  height: 16px;
  margin-left: 12px;
  position: relative;
  top: 3px;
}

.mobile-menu__button {
  display: block;
  border: none;
  border-radius: 22px;
  background-color: var(--button-white-color);
  color: var(--accent-color);
  font-size: 16px;
  margin-top: 40px;
  padding: 12px 37.23px;
  font-weight: 700;
  display: flex;
  align-items: center;
  &__icon {
    width: 8px;
    height: 16px;
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    transform: translateY(-5px);
    background-color: var(--hover-color);
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    margin-left: 32px;
  }
}

.modal {
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.inner-order-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 20px;
  max-width: 300px;
  max-height: calc(100vh - 30px);
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  border-radius: 24px;
  overflow-y: auto;
  background-color: #ffa5ba;
  background-image: linear-gradient(
    to right,
    rgba(255, 245, 246, 0.4),
    rgba(255, 245, 246, 0.4)
  );

  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 550px;
  }
}

.inner-order-form::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ffa5ba;
}

.inner-order-form::-webkit-scrollbar-thumb {
  background-color: #d41443;
  border-radius: 5px;
}

.modal.is-hidden .inner-order-form {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.modal .inner-order-form {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.inner-order-form .product-order {
  position: relative;
  padding-top: 10px;
  input {
    text-align: center;
  }
}

form {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal--svg {
  fill: white;
  stroke: white;
  .close-modal:hover &,
  .close-modal:focus & {
    fill: #c7133e;
    stroke: #c7133e;
  }
}

.form-title {
  text-transform: capitalize;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 29px;
  color: var(--accent-color);
  font-size: 32px;
  text-align: center;
}

.items-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;

  &__title {
    @extend .form-title;
    font-size: 24px;
  }
}

.form-products {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 10px;

  input {
    font-size: 13px;
    margin-top: 10px;
    padding-left: 5px;
    width: 100%;
    height: 25px;
    max-width: 100px;
    background-color: white;
    color: #907e82;
    border-radius: 20px;
    border: 1px solid #ecebeb;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: var(--accent-color);
    }
    &:hover,
    &:focus {
      border: none;
      outline: none;
      border: 1px solid (var(--accent-color--header-circle-color));
    }
  }
}

.form-products__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 1;
  width: calc((100% - 30px) / 3);
  img {
    width: 80%;
  }
}

.delivery-info {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.input-container {
  background-color: white;
  height: 25px;
  width: 90%;
  border: 1px solid #ecebeb;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid #c7133e;
  }

  &::placeholder {
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

.modal-form__icon {
  width: 12px;
  height: 12px;
  fill: #907e82;
  margin: 0 10px;
}

.modal-form__input {
  border: none;
  max-width: 100%;
  flex-grow: 0.5;
  background-color: var(--button-white-color);
  color: #907e82;

  &::placeholder {
    color: #907e82;
  }
  &:focus,
  &:hover {
    border: none;
    outline: none;
  }
}

.modal-form__label {
  width: 100%;
  font-size: 12px;
  color: #c7133e;
}

.submit-form-button {
  align-self: center;
  font-weight: bolder;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background: #d41342;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

@media screen and (min-width: 768px) {
  .inner-order-form {
    max-width: 600px;
  }
  .input-container {
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
    min-width: 400px;
  }
  .form-products {
    input {
      font-size: 16px;
    }
  }
}
