<section class="advantages">
  <h2 class="hidden">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantage">
      <h3 class="advantage__info">721</h3>
      <p class="advantage__description">
        Try our ice cream at 721 locations around the world
      </p>
    </li>
    <li class="advantage">
      <h3 class="advantage__info">16kg</h3>
      <p class="advantage__description">
        Taste 16kg of happiness in every scoop of our ice cream
      </p>
    </li>
    <li class="advantage">
      <h3 class="advantage__info">84</h3>
      <p class="advantage__description">
        Our food truck brings sweet treats to 84 neighborhoods
      </p>
    </li>
  </ul>
</section>