<article class="container">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="content-container">
          <img src="images\customer-reviews\testimonials1.jpg" alt="An image of the reviewer" width="85px">
          <div class="description-container">
            <p class="reviwers__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
              sem. In hendrerit
              nulla quam nunc,
              accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Emily, Los Angeles</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img src="images\customer-reviews\testimonials2.jpg" alt="An image of the reviewer" width="85px">
          <div class="description-container">
            <p class="reviwers__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
              sem. In hendrerit
              nulla quam nunc,
              accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Agata, California</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img src="images\customer-reviews\testimonials3.jpg" alt="An image of the reviewer" width="85px">
          <div class="description-container">
            <p class="reviwers__description">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
              sem. In hendrerit
              nulla quam nunc,
              accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Mila, New York City</h3>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</article>