<article class="container">
  <div class="swiper" id="customer-reviews">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials1.jpg 1x, images/customer-reviews/testimonials1_2x.jpg 2x"
            src="images\customer-reviews\testimonials1.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85" />
          <div class="description-container">
            <p class="reviwers__description">The ice cream at this shop is out of this world! I tried the blueberry
              cheesecake flavor and it was heavenly. The staff
              is also super friendly and made the experience even better.</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Emily, Los Angeles</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials2.jpg 1x, images/customer-reviews/testimonials2_2x.jpg 2x"
            src="images\customer-reviews\testimonials2.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85" />
          <div class="description-container">
            <p class="reviwers__description">I am blown away by the vegan ice cream options at this place! The
              chocolate peanut butter is my absolute favorite. It's
              so rich and creamy, you won't even know it's vegan. Highly recommend!.</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Agata, California</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials3.jpg 1x, images/customer-reviews/testimonials3_2x.jpg 2x"
            src="images\customer-reviews\testimonials3.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85" />
          <div class="description-container">
            <p class="reviwers__description">The milkshakes here are everything! I had the cookies and cream flavor and
              it was delicious. The whipped cream and
              sprinkles on top just made it even better. I can't wait to come back and try more flavors!</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Mila, New York City</h3>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</article>