<article class="container">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials1.jpg 1x, images/customer-reviews/testimonials1_2x.jpg 2x"
            src="images\customer-reviews\testimonials1.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85px" />
          <div class="description-container">
            <p class="reviwers__description">"If you're a fan of creamy, delicious ice cream, this is the spot for you.
              Great variety of flavors and fantastic service make it a must-visit!"
            </p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Emily, Los Angeles</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials2.jpg 1x, images/customer-reviews/testimonials2_2x.jpg 2x"
            src="images\customer-reviews\testimonials2.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85px" />
          <div class="description-container">
            <p class="reviwers__description">"Ice cream lovers rejoice! This store offers a wide range of tasty treats,
              including vegan options. Quick service and cozy atmosphere make it a top pick."</p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Agata, California</h3>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content-container">
          <img srcset="images\customer-reviews\testimonials3.jpg 1x, images/customer-reviews/testimonials3_2x.jpg 2x"
            src="images\customer-reviews\testimonials3.jpg" alt="Descrierea imaginii pentru toate versiunile"
            width="85px" />
          <div class="description-container">
            <p class="reviwers__description">"This ice cream store exceeded my expectations with their unique, bold
              flavors and generous portions. Friendly staff and reasonable prices make it a go-to spot."
            </p>
          </div>
          <div class="reviewers-info">
            <h3 class="reviewers-info__location">Mila, New York City</h3>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</article>