<footer class="page-footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-blocks">
        <div class="footer-block-left">
          <div class="slogan-title slogan-title--one">
            <span class="slogan-title--ice-cream">homemade ice cream</span>
            <span class="slogan-title--made">made</span>
          </div>
          <div class="slogan-title slogan-title--two">
            <div class="slogan-word">
              <span class="slogan-word__letter">w</span>
              <span class="slogan-word__letter">i</span>
              <span class="slogan-word__letter">t</span>
              <span class="slogan-word__letter">h </span>
            </div>
            <div class="slogan-word">
              <span class="slogan-word__letter"> p</span>
              <span class="slogan-word__letter">a</span>
              <span class="slogan-word__letter">s</span>
              <span class="slogan-word__letter">s</span>
              <span class="slogan-word__letter">i</span>
              <span class="slogan-word__letter">o</span>
              <span class="slogan-word__letter">n</span>
            </div>
          </div>
        </div>
        <div class="footer-block-right">
          <ul class="grid grid--social-media">
            <li class="grid__item">
              <a class="media-link" href="https://github.com/">
                <div class="media-link__box">
                  <svg class="social-media-icon" width="20px" height="20px" fill="#fff">
                    <use href="./images/footer-icons/icons.svg#icon-github"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="grid__item">
              <a class="media-link" href="https://telegram.org/">
                <div class="media-link__box">
                  <svg class="social-media-icon" width="20px" height="20px" fill="#fff">
                    <use href="./images/footer-icons/icons.svg#icon-telegram"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="grid__item">
              <a class="media-link" href="https://www.facebook.com/">
                <div class="media-link__box">
                  <svg class="social-media-icon" width="20px" height="20px" fill="#fff">
                    <use href="./images/footer-icons/icons.svg#icon-facebook"></use>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
          <div class="contact-container">
            <p class="footer-contact">Feel free to contact
            </p>
            <a class="footer-contact__link link" href="tel:+610383766284">+61 (0) 383 766 284</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-border">
    <p class="copyright container">© 2023 - IceCream. All Rights Reserved.</p>
  </div>
</footer>