<section class="products-container" id="products">
  <div class="products">
    <p class="products__label">100% NATURAL</p>
    <h1 class="products__title">PRODUCTS</h1>
    <ul class="products-list">
      <li class="products-list__card">
        <h2 class="products-list__title">ICE CREAM</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Satisfy sweet cravings with our handcrafted ice cream! Made with the finest ingredients, cool down with our
          creamy
          flavors.

        </p>
        <details class="about__product-details">
          <summary class="summary-btn">
            <svg class="about__product__arrow-icon">
              <use href="./images/hero-header/symbol.svg#icon-arrow-right"></use>
            </svg>
          </summary>
          <p class="about__product-overlay-cream">
            Creamy, Dreamy, <br />
            and <br />Oh-So-Satisfying!
          </p>
        </details>
      </li>
      <li class="products-list__card">
        <h2 class="products-list__title">ICE COFFEE</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Stay cool and caffeinated with our iced coffee! Made with premium beans and served over ice, it's the
          perfect
          pick-me-up.
        </p>
        <details class="about__product-details">
          <summary class="summary-btn">
            <svg class="about__product__arrow-icon">
              <use href="./images/hero-header/symbol.svg#icon-arrow-right"></use>
            </svg>
          </summary>
          <p class="about__product-overlay-coff">
            Smooth, Refreshing, <br />and <br />Perfectly Caffeinated!
          </p>
        </details>
      </li>
      <li class="products-list__card">
        <h2 class="products-list__title">MILKSHAKES</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Indulge in our rich chocolate milkshake! Made with creamy ingredients, it's the perfect treat to satisfy
          your sweet tooth.

        </p>
        <details class="about__product-details">
          <summary class="summary-btn">
            <svg class="about__product__arrow-icon">
              <use href="./images/hero-header/symbol.svg#icon-arrow-right"></use>
            </svg>
          </summary>
          <p class="about__product-overlay-milk">
            Rich, Creamy, Delicious. Satisfy Your Sweet Cravings Today!
          </p>
        </details>
      </li>
    </ul>
  </div>
</section>