<section class="products-container" id="products">
  <div class="products">
    <p class="products__label">100% NATURAL</p>
    <h1 class="products__title">PRODUCTS</h1>
    <ul class="products-list">
      <li class="products-list__card">
        <h2 class="products-list__title">ICE CREAM</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img class="products-list__image" src="/src/images/products/products-arrow.png" />
      </li>
      <li class="products-list__card">
        <h2 class="products-list__title">ICE COFFEE</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img class="products-list__image" src="/src/images/products/products-arrow.png" />
      </li>
      <li class="products-list__card">
        <h2 class="products-list__title">MILKSHAKES</h2>
        <p class="products-list__title-mark">.</p>
        <p class="products-list__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img class="products-list__image" src="/src/images/products/products-arrow.png" />
      </li>
    </ul>
  </div>
</section>